# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Lat,Lng,Weather Description,Hotel Name
0,1,Rikitea,PF,73.11,-23.1203,-134.9692,broken clouds,People ThankYou
1,5,Hambantota,LK,86.34,6.1241,81.1185,few clouds,Bungalow 63
2,6,Kamaishi,JP,74.64,39.2667,141.8833,clear sky,Hotel Route Inn Kamaishi
3,7,Georgetown,MY,86.90,5.4112,100.3354,scattered clouds,Cititel Penang
4,15,Kidal,ML,87.55,18.4411,1.4078,scattered clouds,NaN
5,19,Isangel,VU,80.33,-19.5500,169.2667,overcast clouds,Tanna Lodge
6,21,Vaini,TO,77.16,-21.2000,-175.2000,broken clouds,Keleti Beach Resort
7,24,Kapaa,US,85.98,22.0752,-159.3190,clear sky,Sheraton Kauai Coconut Beach Resort
8,25,The Valley,AI,82.81,18.2170,-63.0578,broken clouds,CeBlue Villas & Beach Resort
9,27,Hithadhoo,MV,80.64,-0.6000,73.0833,scattered clouds,Scoop Guest House

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [32]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = input("Where would like to start your trip? ")
vacation_end = vacation_start
vacation_stop1 = input("Where would like to first stop at? ")
vacation_stop2 = input("Where would like to stop at second? ")
vacation_stop3 = input("Where would like to stop at last? ")

Where would like to start your trip? Santa Ana
Where would like to first stop at? Barstow
Where would like to stop at second? Saint George
Where would like to stop at last? Billings

In [33]:
import numpy as np
vacation_start_df = vacation_df.loc[(vacation_df["City"] == vacation_start)] 
vacation_end_df = vacation_start_df
vacation_stop1_df= vacation_df.loc[(vacation_df["City"] == vacation_stop1)] 
vacation_stop2_df = vacation_df.loc[(vacation_df["City"] == vacation_stop2)] 
vacation_stop3_df = vacation_df.loc[(vacation_df["City"] == vacation_stop3)]
vacation_start_df

,City_ID,City,Country,Max Temp,Lat,Lng,Weather Description,Hotel Name
31,98,Santa Ana,US,82.4,33.7456,-117.8678,few clouds,"Motel 6 Santa Ana, CA"

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [34]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start_df[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end_df[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1_df[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2_df[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3_df[["Lat", "Lng"]].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [35]:
# Define a new figure object
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, 
                                            waypoints=[stop1,stop2,stop3], 
                                            travel_mode= 'DRIVING' or 'BICYCLING' or 'WALKING')

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [37]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start_df,
        vacation_stop1_df,
        vacation_stop2_df,
        vacation_stop3_df
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Weather Description,Hotel Name
0,98,Santa Ana,US,82.40,33.7456,-117.8678,few clouds,"Motel 6 Santa Ana, CA"
1,216,Barstow,US,88.79,34.8986,-117.0228,broken clouds,"Motel 6 Barstow, CA"
2,329,Saint George,US,78.94,37.1041,-113.5841,clear sky,Best Western Plus Abbey Inn
3,136,Billings,US,76.77,45.7833,-108.5007,clear sky,Best Western Plus Clocktower Inn

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [41]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat","Lng"]]
locations

       Lat       Lng
0  33.7456 -117.8678
1  34.8986 -117.0228
2  37.1041 -113.5841
3  45.7833 -108.5007

In [42]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))